<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(cart.item.length) { %>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
            <% for(let i of cart.item) {%>
                <tr>
                    <td>
                        <%= i.name %>
                    </td>
                    <td>
                        <%= i.price %>
                    </td>
                    <td>
                        <form action="/cart/<%=cart._id%>/item/<%=i._id%>/?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
        </table>
        <% } else {%>
            No items found!
            <% } %>
                <form action="/cart/<%= cart._id %>/add">
                    <button type="submit">Add Items</button>
                </form>
</body>

</html>